/* Fonts-Family
font-family: 'Nerko One', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;

*/

:root {
  --darkest: rgb(11, 11, 13);
  --dark: rgb(24, 29, 38);
  --mediun: rgb(76, 84, 89);
  --light: rgb(140, 138, 125);
  --ligthMediun: rgb(140, 86, 55);
}



.flex-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  width: 100%;
  background-color: var(--darkest);
}

header {
  min-width: 360px;
  width: 100%;
  height: 10rem;
  justify-content: center;
  background-color: var(--darkest);
}

#backToIntroduction {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.3rem whitesmoke;
  text-align: center;
  color: white;
  background-color: var(--ligthMediun);
  border: 2px solid var(--ligthMediun);
  width: 10%;
  height: 60%;
}

#backToIntroduction img {
  width: 100%;
  height: 50%;
}

#title {
  width: 60%;
  height: 100%;
  color: black;
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 0.1rem white;
  text-shadow:0.4rem 0.4rem 0.4rem whitesmoke;
}

#menu {
  display: none;
  border: 1px solid red;
  width: 30%;
  height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  color: white;
  font-size: 1rem;
}

#photoGallery {
  height: auto;
  row-gap: 3rem;
  column-gap: 2rem;
  padding: 1rem;
}


.photoContainer {
  width: 15rem;
  min-width: 300px;
  height: 15rem;
  transition: z-index 1s ,background-size 1s, transform 1s;
}

.imageContainer {
 
 justify-content:right; 
 align-items: flex-start;
 background-position: center bottom;
 background-repeat: no-repeat;
 background-size: contain;
 box-shadow: 0.1rem 0.1rem 0.5rem 0.2rem var(--light);
 width:auto;
 height: 83%; 
 overflow: hidden;
}

.imageContainer img {
  width: auto;
  height: 100%;
  visibility: hidden;
  z-index: 0;
}

.Xsquare {
  display: none;
  position:relative;
  text-align: center;
  width: 1rem;
  height: 1rem;
  top: -100%;
  left: 90%;
  background-color: white;
  padding: 0.3rem;
  color:black
}

.containerText {
  width: fit-content;
  color: white;
}

.imageTitle {
 margin-top: 0.2rem;
 display: inline-block;
 padding: 0.2rem;
}

.location {
  display: none;
  float: right;
}


.comments {
  display: none;
  width: 100%;
  text-align: center;
}


.containerText form {
  width: 100%;
  height: auto;
  padding: 5px;
  display: none;
}

@keyframes shutterEffect {
  0% {top: 2.5%; left: 2%; width:90%; height: 90%;}
  72.72% {top:-130%; left: -100%; width:320%; height: 320%;}
  100% {top:-130%; left: -100%; width:320%; height: 320%;}
}


#introduction {
 display: flex;
 position: fixed;
 justify-content: space-around;
 border-radius: 2rem;
 top: 3%;
 left: 4%;
 background-color: black;
 z-index: 3;
 width: 90%;
 height: 90%;
 animation-name: "";
 animation-duration: 5.5s;
 /*animation-fill-mode:forwards ;*/
 padding: 1rem 0.7rem 1rem 1rem;
}

#introductionTitle {
  height: 15%;
  color: black;
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 0.1rem white;
  text-shadow:0.4rem 0.4rem 0.4rem whitesmoke;
}
 


#camara {
  width: 60%;
  height: 65%;
  background-image: url("./pruebas/Ivan-Prueba5.png");
  background-position: 13% 43%;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  z-index: 6;
}

@keyframes shutter {
  0% { top: 30%; background-size: 50% 45%; }
  63.63% { top: 33%; background-size: 50% 45%;}
  72.72% { top: 33%; background-size: 50% 45%; }
  80% { top: 33%;background-size: 200% 200%;}
  100% { top: 33%;background-size: 200% 200%;}
}

#circule {
  position:absolute;
  top:30%;
  border-radius: 50%;
  background-image: url("./pruebas/shutter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50% 45%;
  animation-name:"";
  animation-duration: 5.5s;
  /*animation-fill-mode:forwards ;*/
  width: 40%;
  height: 40%;
  z-index: 5;
}

@keyframes light {
  0% { top: 49.5%; width:1%; height: 1%; }
  63.63% {top: 52.5%; width:1%; height: 1%; }
  75% {top:52.5%; width:1%; height: 1%; }
  100% { top: 0%; width:200%; height: 200%;}
}

#light {
  position:absolute;
  top: 49.5%;
  border-radius: 50%;
  box-shadow: 0 0 0 0.5% white;
  width: 1%;
  height: 1%;
  background: radial-gradient(#ffffff, #ffffff8e);
  z-index: 8;
  animation-name: "";
  animation-duration: 5.5s;
  /*animation-fill-mode:forwards ;*/
}

#galleryButton {
  border-radius: 0.5rem;
  background-color: darkgray;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}

p {
  padding: 0.5rem;
  text-align: center;
  height: 15%;
  width: 80%;
}

.blur {
 border-radius: 1rem;
 display: none; 
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 width: 100%;
 height: 100%;
 transition: background-color 2s;
}

.blur-open {
  display: block;
  background-color: rgba(24, 29, 38, 0.705);
  transition: background-color 2s;
}


#nextBackButtons {
  position:fixed;
  justify-content: space-between;
  top: 90%;
  transition: width 1s, left 1s;
  z-index: 4;
}

.close{
  width: 160%;
  left: -30%;
}

.open {
  width: 80%;
  left: 10%;
}

.buttons {
  width: 5rem;
  height: 3rem;
  background-color: brown;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: var(--dark);
  justify-content: flex-start;
  align-items: flex-end;
}

#letterR {

  font-size: 1.8rem;
  vertical-align:sub;
}
/*
@media screen and (min-width: 650px) {

  h1 { 
    font-size: 3.2rem;
  }
  
  #backToIntroduction {
    font-size: 1rem;
  }
}
*/